body {
    background-color: #181818 !important;
}

code {
    color: #7cafc2;
}

div.slide {
  width:60%;  margin-top: 0;
  height:100% !important;
  margin-left:auto !important; margin-right:auto !important;
  border: none !important;
  border:1px solid silver;
  background:#181818;
  overflow:auto;
  text-align:left;
  clear:both;
        background-color: #181818 !important;
    line-height: 1em;
}

img {
   margin: 0 auto;
    display: block;
    width: 80%;
    height: 80%;
}

a {
    color: #f7ca88 !important;
}

h1 {
    text-align: center;
    padding: 4pt !important;
    margin: 0pt !important;
   margin-bottom: 0.5em !important;
}

div.listingblock > div.content {
    border: 1px solid #86c1b9 !important;
    font-size: 15px !important;
   line-height: 1.3em;
}
  div.toolbar {
    border-top: none !important;
   padding-top: 2px;
    background:#181818;
}

  div.sectionbody, div.listingblock div.content{

    font-size: 22px !important;
       background-color: #181818 !important;
  }
  pre {
    font-size: 14px !important;
        background-color: #181818;
    color: #d8d8d8;
}
  
  body {
      color: #d8d8d8;

        background-color: #282828;
  }
  
  ul > li > * {
    
    color: #d8d8d8;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #7cafc2;
  }
